// Gray Scale
$white: #FFFFFF;
$gray01: #F2F2F2;
$gray03: #CCCCCC;
$gray04: #b0b0b0;
$gray05: #999999;
$gray07: #666666;
$gray09: #333333;
$black: #252525;

// System
$required: #ff0000;
$error: #EB0B1F;
$shadow: #000000;
$empty: #838383;
$transparent: transparent;

// Point
$theme01: #F7585C;
$theme02: #FFCD05;
$theme03: #4D5EF7;
$theme04: #38815D;
$theme05: #b989f8;
$kakao: #FEE500;
